#include <WString.h>

// In cale branch this URL represents the final image URL. 
// --> https://cale.es <--  Get in CALE your image URL important it should be a JPG image
char screenUrl[] = "http://img.cale.es/jpg/USERNAME/ID";
String bearer="";


int8_t display_rotation = 0;

// Your WiFi Credentials
#define WIFI_SSID "Your WiFi Name"
#define WIFI_PASS ""
